@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: Cearamor;
    src: url('../fontes/samuraiterrapinbevel.ttf') format('truetype');
    font-weight: bold;
}


:root {
    --cor0: #ffffff;
    --cor1: #000000;
    --cor2: #423e40;
    --cor3: #8b8187;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Cearamor', sans-serif;
    --fonte-normal: "Kanit", sans-serif;

}

* {
    margin: 0px;
    padding: 0px;
}


body {
    background-color: var(--cor2);
    font-family: var(--fonte-padrao);
    color: var(--cor0);
    
}

a.externo::after {
    content: '\1F517';

}

header > p {
    color: var(--cor0);
    font-family: var(--fonte-normal);
    font-size: 1.3em;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 50px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.199);

}

header {
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor2));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    
}

header > h1{
    font-family: var(--fonte-destaque);
    color: var(--cor0);
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.39);
    
}

nav {
    background-color: var(--cor2);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.438);

    
}

nav > a {
    color: var(--cor0);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: .5s;

}

nav > a:hover {
    background-color: var(--cor1);
}

main {
    background-color: var(--cor1);
    min-width: 300px;
    max-width: 1000px ;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.397);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

main  h1{
    background-color: var(--cor1);
    font-family: var(--fonte-normal);

}

main h2 {
    font-family: var(--fonte-normal);
    color: var(--cor0);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor2), transparent );
    padding-top: 2px 6px;
    text-indent: 8px;

}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;

}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor1);
    background-color: var(--cor0);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: #8b8187;
    border-radius: 5px;
}

main strong {
    font-weight: bold;
    padding: 2px 6px;
    
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video {
    background-color: var(--cor2);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}


aside {
    background-color: var(--cor2);
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
    box-shadow: 3px 3px 8px rgba(255, 255, 255, 0.342);
}

aside > h1 {
    font-family: var(--fonte-normal);
}

aside > h3 {
    background-color: var(--cor3);
    color: var(--cor0);
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    

}
aside > ul {
    list-style-type: '\2714';
    list-style-position: inside;
    columns: 2;

}

footer {
    background-color: var(--cor3);
    color: var(--cor0);
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
    
}

footer a {
    color: var(--cor0);
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor2);
}

 